<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css" type="text/css" />
		<title>Eat That Burger!</title>
</head>

<nav class="navbar">
    <div class="level-item has-text-centered">
        <p class="navbar-item" href="http://bulma.io">
        <span>Burgers!</span>
        </p>
    </div> 

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="field is-grouped">
            <p class="control">
                <a class="button" target="_blank" href="https://github.com/Gruebes/burger">
                    <span class="icon"><i class="fa fa-github"></i></span>
                    <span>GitHub</span>
                </a>
            </p>
            <p class="control">
            {{!-- Empty  --}}
            </p>
            </div>
        </div>
    </div>
</nav>

<body>
    {{{ body }}}
 </body>

</html>
